{% extends "home/base.html" %}
{% block content %}
<section id="about" class="about">
    <div class="container">
        <div id="divContent">
            <h1>Match Manager Duties</h1>
            <p>As match manager you are responsible for ensuring the day runs smoothly.
                To do this, please ensure you complete or coordinate all of the things below. If you are unsure or
                worried then get in touch with Laurie, the captain for the day or an experienced 'Fielder on the day.
                People will help.
                There is a handy checklist at the bottom of this page...</p>

            <p><b>Game Prep</b>- Please think about this a few days before the game</p>
            <ul>
                <li>If it's <b>artificial</b> (usually on Vicky Park or Hackney Marshes) and we are the home team, we
                    need springback stumps - We will store two sets of these in the London Fields shed. Spring backs are
                    heavy, please consider this when planning your trip...</li>
                <li><b>Kit</b> is in the London Fields shed, work out what you need to take (usually best to set up a
                    whatsapp group to understand this) and pick it up from the shed. </li>
                <li><b>Scoreboard</b> - if you are playing away from London Fields you will need to bring the 'travel'
                    scoreboard if we are the home team. It is in the London Fields shed</li>
                <li>Wooden stumps, beer, bats and other valuable cricket items are in the <b>blue bin</b>. The padlock
                    code is available in the LFCC official whatsapp group info page - please ensure the bin is
                    restocked, chained up and locked.</li>
                <li><b>Cricket balls</b> - we have specific new balls we use for each game. Please speak to the Club
                    Captain or the game Captain to ensure a ball is brought to the game</li>
                <li><b>Leaving Hackney for an away game?</b> Please ensure you pick up the kit you need in good time.
                    You will also be responsible for coordinating travel - use a whatsapp group to get the ball rolling
                    on this. We will usually not need to take stumps for away games</li>
                <li><b>Beer</b> - the quota is two cases per game. Please dont drink more than this. Most of the beer is
                    stored in the London Fields shed but some will be with other trusted members. Please check with the
                    Club Captain</li>
                <li><b>Getting into the London Fields Shed</b> - Find a ranger (the rangers office is by the cafe, just
                    round the corner from the pitch) and ask them to open all 3 locks. Ensure they are left on the
                    latch. You can do this on the day if playing in Hackney or any time in the week if not. The rangers
                    are always around</li>
            </ul>
            <p><b>Pitch Set Up</b> - When we are the home team, you are responsible for coordinating these activities.
                Please delegate to ensure thinks move quickly</p>
            <ul>
                <li><b>Rope></b> - take the rope and poles off the square</li>
                <li><b>Stumps</b> - The stumps are in the bin, there is a stump gauge in the kit bag. Please get the
                    stumps put in
                <li><b>Sandwich Boards (only when on London Fields)</b> - Please get the notice boards put up around the
                    ground so people can see them. Our insurance requires this.</li>
                <li><b>Score Board</b> - Get this out, stand it up</li>
                <li><b>Start Time</b> - Please try and stick to the 1300 start time. This means getting things moving at
                    1230 sharp...</li>
            </ul>
            <p><b>Post Game Activities</b></p>
            <ul>
                <li><b>Fees</b> - Please ensure each LFCC player has paid the match fee (online or in cash to you).
                    Please either collect cash from the oppo for their match fee or ensure they have paid Dhawal in
                    advance.</li>
                <li><b>Pitch Take Down</b> - Rope back up, sandwich boards away, club kit back, bin locked. All the good
                    stuff.</li>
                <li><b>Score Books</b> - Please photograph both teams score books</li>
                <li><b>Stats</b> - Login to the <a href="https://londonfields.net/admin">admin</a> page of the site. The
                    username and password for this is in the
                    LFCC official whatsapp group info page.</li>
                <ul>
                    <li>Click on the Add button to add statistics for the new match.</li>
                    <li>Select the match from the match tab and fill in the other details as per the scorecard
                        (absolutely no need to fill in the scoring column in the batsmen section). Please make sure to
                        select the right match from the selection list.</li>
                    <li>Click Save to add the statistics.</li>
                    <li>Write a match report detailing the key events of the day - this is done on the same page. Don't
                        feel like you have to write thousands of words, just write what you feel comfortable doing.</li>
                    <li>Any problems with this please talk to Laurie and Muffi.</li>
                </ul>
                <li><b>Beer</b> - drink your 2 free cases!</li>
            </ul>
            <p><b>League Games</b></p>
            <ul>
                <li>IF WE WIN</li>
                <ul>
                    <li>Scorebook pictures and fill out <a
                            href="https://www.londonfields.net/media/uploads/2021/04/16/2021ResultSubmission.docx"
                            target="_blank">this document</a>
                    <li>Email it to the club and <a href="mailto:ajwhyles@gmail.com">ajwhyles@gmail.com</a> This must be
                        done by noon on the <b>Monday</b>.</li>
                </ul>
                <li>No need to collect oppo match fees as pitches already paid for by each team.</li>
                <li>Bring £35 cash for the umpire. Club will reimburse you.</li>
            </ul>
            <p><b>Check List</b></p>
            <ul>
                <li>Pre-game</li>
                <ul>
                    <li>Kit</li>
                    <li>Stumps</li>
                    <li>Scoreboard</li>
                    <li>Beer</li>
                    <li>Balls</li>
                    <li>Travel (if away)</li>
                    <li>Shed open (if on London Fields)</li>
                </ul>
                <li>Pitch Set up</li>
                <ul>
                    <li>Ropes</li>
                    <li>Stumps in</li>
                    <li>Boards up</li>
                    <li>Scoreboard</li>
                </ul>
                <li>Post Game</li>
                <ul>
                    <li>Fees</li>
                    <li>Pitch take down</li>
                    <li>scorebook photos</li>
                    <li>stats/li>
                    <li>match report</li>
                </ul>
                <li>League</li>
                <ul>
                    <li>Umpire cash</li>
                    <li>League result form</li>
                </ul>
            </ul>
        </div>
    </div>
</section><!-- End About Section -->
{% endblock content %}